/* Importa a fonte Roboto do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif; /* Atualiza a fonte para Roboto */
    margin: 0;
    padding: 0;
    background: #111111; /* Fundo preto */
    color: #ffffff; /* Cor do texto para contraste com o fundo escuro */
}

header {
    display: flex; /* Usa flexbox no cabeçalho */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Alinha o conteúdo verticalmente, se necessário */
    background-color: #111111; /* Cor de fundo do cabeçalho */
    height: 90px; /* Ajuste conforme necessário */
    padding: 0 1em; /* Ajusta o padding horizontal, se necessário */
}

header h1 {
    display: flex;
    align-items: center; /* Alinha o ícone e o texto verticalmente */
    font-family: 'Lato', sans-serif;
    color: #ffffff; /* Cor do texto */
    margin: 12px 0 0 0; /* Margens do titulo */
}

header .icon {
    width: 40px; /* Ajuste o tamanho do ícone conforme necessário */
    height: 40px; /* Ajuste o tamanho do ícone conforme necessário */
    margin-right: 8px; /* Espaço entre o ícone e o texto */
    vertical-align: middle; /* Alinha o ícone com o texto se necessário */
}

.search-bar {
    position: relative;
    margin: 1em auto;
    text-align: center;
    max-width: 800px; /* Aumenta a largura máxima da barra de pesquisa e filtro */
    padding: 0 1em; /* Adiciona padding lateral */
    display: flex; /* Usando flexbox para alinhar a barra de pesquisa e a barra de filtro */
    justify-content: center; /* Centraliza horizontalmente os itens dentro da barra de pesquisa */
    gap: 0.5em; /* Espaço entre a barra de pesquisa e a barra de filtro */
}

.search-icon-container {
    position: absolute;
    right: 168px; /* Ajuste conforme necessário para alinhar com o campo de entrada */
    top: 50%;
    transform: translateY(-50%);
    width: 20px; /* Igual ao tamanho dos ícones */
    height: 20px; /* Igual ao tamanho dos ícones */
    cursor: pointer;
    display: flex; /* Permite empilhar os ícones um sobre o outro */
    justify-content: center;
    align-items: center;
}

.search-icon {
    position: absolute;
    width: 20px;
    height: 20px;
    transition: opacity 0.3s ease, transform 0.3s ease; /* Transição suave */
    opacity: 0; /* Começa invisível */
    pointer-events: none; /* Desabilita o clique inicialmente */
}

.search-icon-lupa {
    opacity: 1; /* A lupa começa visível */
}

.search-icon-container.show-clear .search-icon-lupa {
    opacity: 0; /* Esconde a lupa */
    transform: rotate(90deg); /* Efeito de rotação para a transição */
}

.search-icon-container.show-clear .search-icon-x {
    opacity: 1; /* Mostra o ícone de "X" */
    pointer-events: auto; /* Habilita o clique no ícone "X" */
    transform: rotate(0deg); /* Reseta a rotação */
}

.search-bar input[type="text"] {
  padding: 0.8em;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 2px solid #ffffff; /* Borda clara para a barra de pesquisa */
  border-radius: 100px;
  background-color: #111111; /* Fundo dos campos de entrada */
  color: #ffffff; /* Cor do texto dentro dos campos */
  flex-grow: 1; /* Permite que a barra de pesquisa ocupe o máximo de espaço disponível */
  max-width: 100%; /* Garante que a barra de pesquisa não ultrapasse as bordas da tela */
}

.search-bar select {
    padding: 0.8em;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 2px solid #ffffff;
    border-radius: 100px;
    background-color: #111111;
    color: #ffffff;
    text-align-last: center; /* Centraliza o texto da opção selecionada */
    white-space: nowrap;
    min-width: 120px;
    display: flex; /* Utiliza flexbox para alinhar o conteúdo */
    justify-content: center; /* Centraliza o conteúdo */
    align-items: center; /* Centraliza o conteúdo verticalmente */
}

.search-bar input[type="text"]:hover, .search-bar select:hover,
.search-bar input[type="text"]:focus, .search-bar select:focus {
    border-color: #B22222; /* Muda a cor da borda quando o elemento está em foco */
    outline: none; /* Remove a borda de foco padrão */
}

.pagination {
    display: flex;
    justify-content: center; /* Centraliza os botões */
    margin: 20px 0 -3px; /* Espaçamento acima e abaixo */
}

.pagination button {
    margin: 0 5px;
    padding: 8px 12px;
    background-color: #111111; /* Fundo preto para o botão */
    color: #ffffff; /* Cor do texto do botão */
    border: 2px solid #ffffff; /* Borda clara para o botão */
    border-radius: 100px;
    cursor: pointer;
    outline: none; /* Remove a borda de foco padrão do navegador */
    transition: transform 0.3s ease;
}

.pagination button:hover {
    border-color: #B22222; /* Cor da borda quando o botão está em foco */
    transform: scale(1.05);
}

.pagination button.active {
    background-color: #B22222;
    border-color: #B22222;
    transform: scale(1.05);
}

.book-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* Exibe colunas automaticamente, no mínimo 2 */
    row-gap: 1em;
    column-gap: 0.25em;
    padding: 1em;
    max-width: 1200px;
    margin: auto;
}

.book-item {
    cursor: default;
    background: #111111; /* Fundo escuro para os itens da lista */
    /*border: 0px solid #333333; /* Borda escura para combinar com o fundo */
    border-radius: 10px;
    padding: 1em;
    text-align: center;
    color: #ffffff; /* Cor do texto dos itens */
    outline: none; /* Remove a borda padrão de foco */
    transition: color 0.2s, transform 0.3s ease; /* Adiciona uma transição suave na cor do texto */
    font-size: 0.6em; /* Define o tamanho da fonte do texto dos itens */
}

/* Remove a borda de foco azul */
.book-item:focus {
    outline: none;
}

.book-item:hover,
.book-item:focus {
    cursor: default;
    color: #B22222; /* Cor do título quando o item está em foco */
    transform: scale(1.10);
}

.book-title {
    cursor: pointer;
}

.book-thumbnail {
    cursor: pointer;
    width: 80px; /* Ajusta a largura da imagem */
    height: auto; /* Mantém a proporção da imagem */
    margin: 0 auto; /* Centraliza a imagem */
    border-radius: 8px;
}

/* Restante do código CSS */

.book-details {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza horizontalmente os itens */
    margin: 2em;
    background: #111111; /* Fundo escuro para os detalhes do livro */
    border: none;
    border-radius: 0px;
    color: #ffffff; /* Cor do texto para contraste */
    padding: 0;
    position: relative; /* Adicione isto para posicionamento relativo */
}

.book-header {
    display: flex;
    flex-direction: column; /* Adiciona essa linha para empilhar verticalmente */
    align-items: center; /* Centraliza horizontalmente o conteúdo */
    width: 100%;
    margin-bottom: 1em; /* Espaço entre a imagem e o link */
}

.book-full {
    max-width: 40%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1em; /* Espaço abaixo da imagem do livro */
}

.download-link {
    display: inline-block; /* Faz o link se comportar como um botão */
    background: linear-gradient(to right, #8B0000, #B22222); /* Gradiente de #8B0000 para #B22222 */
    color: #ffffff; /* Cor do texto do botão */
    padding: 0.8em;
    border: 2px solid #B22222; /* Borda padrão do botão */
    border-radius: 100px;
    cursor: pointer;
    text-align: center;
    text-decoration: none; /* Remove o sublinhado do link */
    margin-bottom: 0.5em; /* Espaço abaixo do botão */
    outline: none; /* Remove a borda de foco padrão do navegador */
    transition: transform 0.3s ease, background 1s ease; /* Transição suave do gradiente e tamanho */
}

.download-link:hover,
.download-link:focus {
    background: linear-gradient(to left, #8B0000, #B22222); /* Gradiente invertido no hover/focus */
    color: #ffffff; /* Cor do texto ao passar o mouse ou focar */
    border-color: #B22222; /* Cor da borda ao passar o mouse ou focar */
    transform: scale(1.05); /* Aumenta o tamanho do botão em 5% */
    box-shadow: 0 0 10px 2px rgba(178, 34, 34, 0.8); /* Efeito de brilho neon */
}

.back-button {
    background-color: #111111; /* Fundo preto para o botão */
    color: #ffffff; /* Cor do texto do botão */
    padding: 0.8em;
    border: 2px solid #ffffff; /* Borda clara para o botão */
    border-radius: 100px;
    cursor: pointer;
    text-align: center;
    position: relative;
    top: -1.2em; /* Distância do topo da área de detalhes */
    left: 0em; /* Distância da borda esquerda da área de detalhes */
    margin-bottom: 1em; /* Espaço abaixo do botão para ajustar a posição */
    outline: none; /* Remove a borda de foco padrão do navegador */
    transition: transform 0.3s ease;
}

.back-button:focus,
.back-button:hover {
    border-color: #B22222; /* Cor da borda quando o botão está em foco */
    transform: scale(1.05);
}

.report-button {
    background-color: #111111; /* Fundo preto para o botão */
    color: #ffffff; /* Cor do texto do botão */
    padding: 0.8em;
    border: 2px solid #ffffff; /* Borda clara para o botão */
    border-radius: 100px;
    cursor: pointer;
    text-align: center;
    position: absolute;
    top: -1.2em; /* Distância do topo da área de detalhes */
    right: 0; /* Distância da borda direita da área de detalhes */
    margin-bottom: 1em; /* Espaço abaixo do botão para ajustar a posição */
    outline: none; /* Remove a borda de foco padrão do navegador */
    transition: transform 0.3s ease;
}

.report-button:focus,
.report-button:hover {
    border-color: #B22222; /* Cor da borda quando o botão está em foco */
    transform: scale(1.05);
}

.back-button img,
.report-button img {
    width: 20px; /* Ajuste o tamanho da imagem conforme necessário */
    height: 20px; /* Ajuste o tamanho da imagem conforme necessário */
    vertical-align: middle; /* Alinha a imagem verticalmente com o texto */
    margin-right: 8px; /* Espaço entre a imagem e o texto */
}

.report-button:disabled {
    background-color: #333333; /* Cor de fundo cinza escuro */
    color: #ffffff; /* Cor do texto branco */
    border: none; /* Remove a borda */
    cursor: not-allowed; /* Indicador de que o botão não está clicável */
    pointer-events: none; /* Desativa a interação */
}

/* Estilos específicos para landscape */
@media only screen and (orientation: landscape) {
    .book-item {
        font-size: 0.7em; /* Aumenta o tamanho do texto quando em landscape */
    }
    
    .book-list {
        row-gap: 1em;
        column-gap: 0.5em;
        display: grid; /* Define grid para o layout */
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); /* Ajusta o mínimo de largura para cada item */
    }
    
    .book-full {
        max-width: 20%;
    }
}    

/* Personalizações para visualização no PC */
@media (min-width: 1024px) {
    .search-bar {
        padding: 0 1em; /* Garante padding lateral adequado */
    }

    .book-item {
        font-size: 0.7em; /* Ajusta o tamanho do texto */
    }

    .book-list {
        display: grid; /* Define grid para o layout */
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); /* Exibe colunas automaticamente com largura mínima de 220px */
        gap: 1em; /* Ajusta o espaçamento entre os itens da lista */
    }
    
    .book-full {
        max-width: 20%; /* Reduz o tamanho das imagens do book full no PC */
    }

    .book-details {
        font-size: 1.3em;
        margin: 0 20px 20px 20px; /* Adiciona margens laterais e inferior */
        max-width: 1000px; /* Define a largura máxima para centralizar o conteúdo */
        margin-left: auto;
        margin-right: auto; /* Centraliza o conteúdo horizontalmente */
    }
}

/* Estilos para dispositivos móveis */
@media (max-width: 1023px) {
    .book-item {
        font-size: 0.8em; /* Tamanho de fonte adequado para dispositivos móveis */
    }

    .book-list {
        display: grid; /* Define grid para o layout */
        grid-template-columns: repeat(auto-fit, minmax(130px, 1fr)); /* Exibe colunas automaticamente com largura mínima de 150px */
        gap: 0.5em; /* Ajusta o espaçamento entre os itens da lista */
    }
}