/* Importa a fonte Roboto do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif; /* Atualiza a fonte para Roboto */
    margin: 0;
    padding: 0;
    background: #111111; /* fundo preto */
    color: #ffffff; /* Cor do texto para contraste com o fundo escuro */
}

header {
    font-family: 'Lato', sans-serif;
    background-color: #111111; /* Fundo preto para o cabeçalho */
    color: #ffffff; /* Cor do texto no cabeçalho */
    padding: 1em;
    text-align: center;
}

.search-bar {
    margin: 1em auto;
    text-align: center;
    max-width: 600px;
}

.search-bar input[type="text"], .search-bar select {
    padding: 0.8em;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 2px solid #666666; /* Borda clara para a barra de pesquisa e filtro */
    border-radius: 100px;
    margin-right: 10px;
    background-color: #ffffff; /* Fundo dos campos de entrada */
    color: #000000; /* Cor do texto dentro dos campos */
}

.search-bar input[type="text"]:focus, .search-bar select:focus {
    border-color: #0047AB; /* Muda a cor da borda quando o elemento está em foco */
    outline: none; /* Remove a borda de foco padrão */
}

.book-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Exibe 2 colunas */
    gap: 1em;
    padding: 1em;
    max-width: 1200px;
    margin: auto;
}

.book-item {
    background: #111111; /* Fundo escuro para os itens da lista */
    border: 0px solid #333333; /* Borda escura para combinar com o fundo */
    border-radius: 30px;
    padding: 1em;
    text-align: center;
    cursor: pointer;
    color: #ffffff; /* Cor do texto dos itens */
    outline: none; /* Remove a borda padrão de foco */
    transition: color 0.3s; /* Adiciona uma transição suave na cor do texto */
}

/* Remove a borda de foco azul em dispositivos móveis */
@media (pointer: coarse) { 
    .book-item:focus {
        outline: none;
    }
}

.book-item:focus .book-title {
    color: #0047AB; /* Cor do título quando o item está em foco */
}

.book-thumbnail {
    width: 150px; /* Ajusta a largura da imagem */
    height: auto; /* Mantém a proporção da imagem */
    margin: 0 auto; /* Centraliza a imagem */
    border-radius: 8px;
}

.book-title {
    margin: 0.5em 0;
}

/* Restante do código CSS */

.book-details {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza horizontalmente os itens */
    margin: 2em;
    background: #111111; /* Fundo escuro para os detalhes do livro */
    border: none;
    border-radius: 0px;
    color: #ffffff; /* Cor do texto para contraste */
    padding: 0;
    position: relative; /* Adicione isto para posicionamento relativo */
}

.book-header {
    display: flex;
    flex-direction: column; /* Adiciona essa linha para empilhar verticalmente */
    align-items: center; /* Centraliza horizontalmente o conteúdo */
    width: 100%;
    margin-bottom: 1em; /* Espaço entre a imagem e o link */
}

.book-full {
    max-width: 60%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1em; /* Espaço abaixo da imagem do livro */
}

.download-link {
    display: inline-block; /* Faz o link se comportar como um botão */
    background-color: #0047AB; /* Fundo escuro para o botão */
    color: #ffffff; /* Cor do texto do botão */
    padding: 0.8em;
    border: 2px solid #0074D9; /* Borda padrão do botão */
    border-radius: 100px;
    cursor: pointer;
    text-align: center;
    text-decoration: none; /* Remove o sublinhado do link */
    margin-bottom: 1em; /* Espaço abaixo do botão */
    outline: none; /* Remove a borda de foco padrão do navegador */
}

.download-link:hover,
.download-link:focus {
    background-color: #1e1e1e; /* Cor de fundo ao passar o mouse ou focar */
    color: #ffffff; /* Cor do texto ao passar o mouse ou focar */
    border-color: #0047AB; /* Cor da borda ao passar o mouse ou focar */
}

.back-button {
    background-color: #ffffff; /* Fundo branco para o botão */
    color: #1e1e1e; /* Cor do texto do botão */
    padding: 0.8em;
    border: 2px solid #666666; /* Borda clara para o botão */
    border-radius: 100px;
    cursor: pointer;
    text-align: center;
    position: relative;
    top: -1.2em; /* Distância do topo da área de detalhes */
    left: 0em; /* Distância da borda esquerda da área de detalhes */
    margin-bottom: 1em; /* Espaço abaixo do botão para ajustar a posição */
    outline: none; /* Remove a borda de foco padrão do navegador */
}

.back-button:focus {
    border-color: #0047AB; /* Cor da borda quando o botão está em foco */
}

/* Personalizações para visualização no PC */
@media (min-width: 1024px) {
    .search-bar {
        max-width: 800px; /* Aumenta a largura das barras de pesquisa no PC */
    }

    .book-list {
        grid-template-columns: repeat(4, 1fr); /* Exibe 4 colunas no PC */
        gap: 0.5em; /* Diminui o espaçamento entre os itens da lista */
    }

    .book-item {
        font-size: 1.2em; /* Aumenta o tamanho do texto dos itens */
        padding: 1em; /* Ajusta o padding dos itens para melhor visualização */
    }

    .book-full {
        max-width: 40%; /* Reduz o tamanho das imagens do *book full* no PC */
    }

    .download-link, .back-button {
        width: 200px; /* Ajusta a largura dos botões no PC */
        padding: 1em; /* Aumenta o padding dos botões para uma tela maior */
        font-size: 1.2em; /* Aumenta o tamanho do texto dos botões */
    }

    .search-bar input[type="text"], .search-bar select {
        font-size: 1.2em; /* Aumenta o tamanho do texto na barra de pesquisa e filtro */
        padding: 1em; /* Aumenta o padding dos campos */
    }
}